@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
body{
  background: #FFFAFA;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

header{
  background: #186a3b;
  color: #FFFAFA;
  padding: 1em 0;
  position: relative;
}

header:after{
  content: '';
  clear: both;
  display: block;
}

.logo{
  float: left;
  font-size: 1rem;
  margin: 0;
  font-weight: 700;
}

.logo span{
  color: crimson;
  font-weight: 300;
}

.web-nav{
  position: absolute;
  top: 100%;
  right: 0;
  background: #8FBC8F;
  height: 0px;
  overflow: hidden;
}

.web-nav--open{
  height: auto;
}

.web-nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.web-nav li{
  border-bottom: 1px solid #186a3b ;
}

.web-nav li:last-child{
  border-bottom: none;
}

.web-nav a{
  color: #556B2F;
  text-decoration: none;
  display: block;
  padding: 2em 6em;
  text-transform: uppercase;
}

.web-nav a:hover,
.web-nav a:focus{
  background: #FFF5EE;
  color: #186a3b;
}

.menu-toggle{
  padding: 1em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

.burger, .burger::before, .burger::after{
  content: '';
  display: block;
  background: #FFFAFA;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
}

.burger::before{
  transform: translateY(-6px);
}

.burger::after{
  transform: translateY(3px);
}

/*shoppinglist*/

.shoppinglist-container{
  display: flex;
  margin-top:130px;
  margin-left: 70px;
  width: 70%;
}

.shoppinglist-img {
  width: 600px;
  height: 400px;
}

.shoppinglist-text{
  margin-left: 50px;
  padding-top: 60px;
  color: #4B4A4A;
}
.shoppinglist-text h2{
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
}

.shoppinglist-text p{
  font-weight: bold;
  margin-top:25px;
  font-size: 22px;
}

/*vacuum*/

.vacuum-container{
  display: flex;
  margin-top:130px;
  margin-left: 70px;
  width: 70%;
}

.vacuum-img {
  width: 600px;
  height: 400px;
}

.vacuum-text{
  margin-left: 50px;
  padding-top: 60px;
  color: #4B4A4A;
}
.vacuum-text h2{
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
}

.vacuum-text p{
  font-weight: bold;
  margin-top:25px;
  font-size: 22px;
}

/*smoothie*/
.smoothie-container{
  display: flex;
  margin-top:130px;
  margin-left: 70px;
  width: 70%;
}

.smoothie-img {
  width: 600px;
  height: 400px;
}

.smoothie-text{
  margin-left: 50px;
  padding-top: 60px;
  color: #4B4A4A;
}
.smoothie-text h2{
  padding-left: 60px;
  font-size: 32px;
  font-weight: bolder;
}

.smoothie-text p{
  font-weight: bold;
  margin-top:25px;
  font-size: 22px;
}
