@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background: #FFFAFA;
  font-family: 'Roboto', sans-serif;
}

/* Nav 2.0 */

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #186a3b;
}

.logo{
  color: #d4e6f1;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 28px;
}

.logo span{
  font-weight: 300;
  text-transform: lowercase;
}

.logo i{
  color: #000;
}

.nav-links{
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: #d4e6f1;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 15px;
}

/**/




/*
.nav-links a:hover,
.nav-links a:focus{
  background: #FFF5EE;
  color: #186a3b;
  height: 100%;
  width: 100%;
}*/

.hamburger{
  display: none;
  cursor: pointer;
}

.hamburger div{
  width: 25px;
  height: 2px;
  background-color: #d4e6f1;
  margin: 6px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links{
    width: 60%;
  }
}

@media screen and (max-width: 768px) {

  body{
    overflow-x: hidden;
  }

  .nav-links{
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: /*#186a3b*/ #8FBC8F;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .hamburger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {

  from{
    opacity: 0;
    transform: translateX(50px);
  }

  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

/* End Nav 2.0 */

/*shoppinglist*/

.shoppinglist-container{
  display: flex;
  margin-top:130px;
  margin-left: 70px;
  width: 70%;
}

.shoppinglist-img {
  width: 600px;
  height: 400px;
}

.shoppinglist-text{
  margin-left: 50px;
  padding-top: 60px;
  color: #4B4A4A;
}
.shoppinglist-text h2{
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
}

.shoppinglist-text p{
  font-weight: bold;
  margin-top:25px;
  font-size: 22px;
}

/*vacuum*/

.vacuum-container{
  display: flex;
  margin-top:130px;
  margin-left: 70px;
  width: 70%;
}

.vacuum-img {
  width: 600px;
  height: 400px;
}

.vacuum-text{
  margin-left: 50px;
  padding-top: 60px;
  color: #4B4A4A;
}
.vacuum-text h2{
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
}

.vacuum-text p{
  font-weight: bold;
  margin-top:25px;
  font-size: 22px;
}

/*smoothie*/
.smoothie-container{
  display: flex;
  margin-top:130px;
  margin-left: 70px;
  width: 70%;
}

.smoothie-img {
  width: 600px;
  height: 400px;
}

.smoothie-text{
  margin-left: 50px;
  padding-top: 60px;
  color: #4B4A4A;
}
.smoothie-text h2{
  padding-left: 60px;
  font-size: 32px;
  font-weight: bolder;
}

.smoothie-text p{
  font-weight: bold;
  margin-top:25px;
  font-size: 22px;
}
